<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BoardGamer</title>
  <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/creynolds8/boardgamer/9a3a5fca2c4919b78b94037b8e472420ddc63907/public/images/favicon.svg">
</head>
<body>
  <h1>Welcome to BoardGamer</h1>

  <p>
    <a href="/games">Games List</a>
  </p>
</body>
</html>